body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
    
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: left;
  }
    
  nav {
    background-color: #333;
    padding: 10px;
    text-align: center;
  }
    
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
    
  nav li {
    display: inline;
    margin-right: 10px;
  }
    
  nav a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
  }
  
  nav a:hover{ 
    color: rgb(168, 111, 111); 
  }
  
  section{ 
    padding: 20px;
  }
    
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    bottom:0;
    width:100%;
  }
  .footer-kontakt{
    position: fixed;
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    bottom:0;
    width:100%;
  }
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  header img{
    width: 80px;
    height: auto;
    float: left;  
  }
  
  .text-kontakt:p {
    font-weight:600;
  }
  figure {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  figcaption {
    margin-top: 5px;
    text-align: left;
  }
  .image-container,.image-container2 {
    display: flex;
    justify-content: center;
  
  }
  
  .image-container figure, .image-container2 figure {
    margin: 20px;
    text-align: center;
  }
  p{
    margin:auto;
  }
  .flip-container {
    perspective: 1000px;
    width: 200px;
    height: 200px;
  }
  
  .flipper {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 2s;
  }
  
  .front,
  .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .front {
    z-index: 2;
    transform: rotateY(0);
  }
  .front2 {
    z-index: 2;
    transform: rotateY(0);
  }
  
  .back {
    transform: rotateY(180deg);
  }
  
  .flip-container:hover .flipper {
    transform: rotateY(180deg);
  }
  footer:h3{
    text-align: left;
  }